<?xml version="1.0" ?>
<!-- 
  urdf.xacro file extension indicates that this urdf file should not be directly used but included in another urdf file.

  The robot links and joints are encapsulated within a xacro:macro element which takes in prefix, parent, and origin arguments.

 -->

<!-- The name of the robot is given here. xmlns:xacro is mandatory for xacro files. -->
<robot name="end_effector" xmlns:xacro="http://ros.org/wiki/xacro">

  <!--
    This is the start of a macro block called "end_effector".
  
    The macro block takes in 3 arguments:
      - prefix is literally a prefix or "namespace within the string". Prevents name clashes.
      - parent is the name of the parent link of the end_effector.
      - *origin is the tag for the origin.

    * denotes that the variable is a tag. Literally <origin xyz=... />
  -->
  <xacro:macro name="end_effector" params="prefix parent *origin">

    <!-- This joint fixes the end_effector to an external parent link (could be the world or another robot). -->
    <joint name="${prefix}end_effector_mount" type="fixed">
      <parent link="${parent}"/>
      <child link="${prefix}ee_link"/>

      <!-- xacro:insert_block means place the tag here. Specify the positional relationship between parent and child links. -->
      <xacro:insert_block name="origin"/>
    </joint>

    <!-- Define a link for mesh base_link.STL. -->
    <link name="${prefix}ee_link">

      <!-- Defines what the link looks like. -->
      <visual>
end_effector_description
        <!-- Shape of object. -->
        <geometry>
          <mesh filename="package://end_effector_description/meshes/EndEffectorAssyV2.stl" scale="0.001 0.001 0.001"/>
          <!-- <box size="0.03 0.03 0.2" /> -->
        </geometry>
        <material name="blue"/>

        <!-- Origin of the visual element. xyz is in metres. rpy stands for roll pitch yaw in radians. -->
        <origin xyz="-0.025 -0.0902 -0.0225" rpy="0 0 0"/>
        
      </visual>

      <!-- Defines the collision boundaries. -->
      <collision>

        <!-- Shape of object. -->
        <geometry>
          <mesh filename="package://end_effector_description/meshes/EndEffectorAssyV2.STL" scale="0.001 0.001 0.001"/>
        </geometry>

        <!-- Collision origin is usually the same as the visual origin. -->
        <origin xyz="-0.025 -0.0902 -0.0225" rpy="0 0 0"/>
      </collision>

      <!--
        Defines the inertial properties of the link.
        
        If this block is not defined, everything defaults to zero. However, Gazebo will not render the link if inertia values are zero.
      
       -->
      <inertial>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <mass value="0.268"/>
        <inertia
          ixx="1.0" ixy="0.0" ixz="0.0"
          iyy="1.0" iyz="0.0"
          izz="1.0"/>
      </inertial>
    </link>

    

  </xacro:macro>
</robot>
